<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container">
  <div class="row mt-4">
    <div class="col-3">
      <p-fieldset legend="TABLES LIST" [toggleable]="false">
        <p-button icon="pi pi-refresh" (onClick)="getTables()" class="mb-4"></p-button>
         <p-listbox [options]="tablesList" [(ngModel)]="selectedTable" optionLabel="tableName" (onChange)="onSelectTable()"></p-listbox>
      </p-fieldset>
    </div>
    <div class="col-9">

      <p-tabView>
        <p-tabPanel header="ANGULAR MODEL">
          <textarea [(ngModel)]="modelCode" rows="40" style="width: 100%;" readonly="readonly" pInputTextarea></textarea>
        </p-tabPanel>
        <p-tabPanel header="ANGULAR COMPONENT">
          <textarea [(ngModel)]="componentCode" rows="40" style="width: 100%;" readonly="readonly" pInputTextarea></textarea>
        </p-tabPanel>
        <p-tabPanel header="ANGULAR SERVICE">
          <textarea [(ngModel)]="serviceCode" rows="40" style="width: 100%;" readonly="readonly" pInputTextarea></textarea>
        </p-tabPanel>
        <p-tabPanel header="STORE PROCEDURES">
          <textarea [(ngModel)]="storeProcedureCode" rows="40" style="width: 100%;" readonly="readonly" pInputTextarea></textarea>
        </p-tabPanel>
        <p-tabPanel header="API CODES">
          <textarea [(ngModel)]="apiCode" rows="40" style="width: 100%;" readonly="readonly" pInputTextarea></textarea>
        </p-tabPanel>
      </p-tabView>

      <!-- <p-panel>
        <p-header>
          <button pButton pRipple type="button" icon="pi pi-copy" class="p-button-rounded p-button-info" styleClass="p-button-sm"></button> <span style="font-size: 1.5em; font-weight: bold;"> ANGULAR SERVICE</span>
        </p-header>
      </p-panel> -->

    </div>
  </div>
</div>
